.news-header {
    text-align: center;
}

.news-header h1 {
    font-size: 240%;
    margin-bottom: 20px;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100%;
    background-color: #164e4d;
}
.logos div{
    width:200px;
}

.logos img {
    width: 100%;
    height: auto;
}

